/*
	CSS for the back-end editor
 */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	-webkit-font-smoothing: subpixel-antialiased;
}
body {
	color: #777;
	font: 300 16px/1.6 Raleway, sans-serif;
	max-width: 930px;
	padding: 0 65px;
	word-break: break-all;
}
a {
	text-decoration: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
a:active,
a:focus,
a:hover { color: #363636; }
img { max-width: 100%; }
h1,
h2,
h3,
h4,
h5,
h6 { 
	color: #363636;
	font-weight: 300;
}
hr:after {
	color: #bbb;
	content: "\f006 \f006 \f006";
	display: block;
	font-family: FontAwesome;
	font-size: 13px;
	letter-spacing: 6px;
	position: absolute;
	text-align: center;
	top: 20px;
	width: 100%;
}
blockquote:before {
	content: "\"";
	font-family: serif;
	font-size: 50px;
	font-style: italic;
	font-weight: 300;
	height: 10px;
	left: -40px;
	position: absolute;
	top: -25px;
	width: 20px;
}
iframe {
	border: none;
}
code {
	background: #f5f5f5;
	padding: 5px 10px;
}
pre {
	background: #fafafa;
	border: 1px solid #e5e5e5;
	padding: 20px;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-email:before { content: "\f003"; }
.icon-fb:before { content: "\f082"; }
.icon-gplus:before { content: "\f0d4"; }
.icon-phone:before { content: "\f095"; }
.icon-pinterest:before { content: "\f0d2"; }
.icon-rss:before { content: "\f143"; }
.icon-star:before { content: "\f005"; }
.icon-twitter:before { content: "\f081"; }
.icon-youtube:before { content: "\f166"; }

button,
input,
textarea {
	border: 2px solid #d4d0ba;
	font-family: inherit;
	padding: 5px;
}

input,
textarea {
	border: 1px solid #ddd;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	font-size: 14px;
	font-weight: 300;
	color: #888;
	height: 40px;
	max-width: 100%!important;
	padding: 0 10px;
}

textarea {
	height: auto;
	max-width: 100%!important;
	padding: 24px;
}

input:focus,
textarea:focus {
	background: #fffef4;
}

button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
	background: transparent;
	border-radius: 0;
	cursor: pointer;
	display: inline-block;
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: 400;
	height: 40px;
	line-height: 40px;
	margin: 40px 0 0 0;
	padding: 0 40px;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

button:hover,
button:focus,
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
button:active,
input[type="submit"]:active,
input[type="button"]:active,
input[type="reset"]:active {
	border-color: #34373b;
	color: #34373b;
}

::-webkit-input-placeholder {
	color: #7d7b6d;
}

:-moz-placeholder {
	color: #7d7b6d;
}

::-moz-placeholder {
	color: #7d7b6d;
}

:-ms-input-placeholder {
	color: #7d7b6d;
}

embed,
iframe,
object,
video {
	max-width: 100%;
}

/* Images */
.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.alignleft {
	margin: 5px 20px 5px 0;
}

.wp-caption.alignleft {
	margin: 5px 10px 5px 0;
}

img.alignright {
	margin: 5px 0 5px 20px;
}

.wp-caption.alignright {
	margin: 5px 0 5px 10px;
}

img.aligncenter {
	margin: 5px auto;
}

img.alignnone {
	margin: 5px 0;
}

.wp-caption .wp-caption-text,
.entry-caption,
.gallery-caption {
	color: #aaa;
	font-size: 14px;
	font-style: italic;
	font-weight: 300;
	margin: 5px 0 10px 0;
	text-align: center;
}

img.wp-smiley,
.rsswidget img {
	border: 0;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

.wp-caption.alignleft + ul,
.wp-caption.alignleft + ol  {
	list-style-position: inside;
}

a {
	color: #bc360a;
}

a:hover {
	color: #e83a34;
}

blockquote {
	font-size: 24px;
	position: relative;
}

blockquote cite,
blockquote small {
	font-size: 16px;
}

.gallery {
	margin-bottom: 20px;
	margin-left: -4px;
}

.gallery-item {
	float: left;
	margin: 0 4px 4px 0;
	overflow: hidden;
	position: relative;
}

.gallery-item a,
.gallery-item img {
	display: block;
}

.gallery-columns-1.gallery-size-medium,
.gallery-columns-1.gallery-size-thumbnail,
.gallery-columns-2.gallery-size-thumbnail,
.gallery-columns-3.gallery-size-thumbnail {
	display: table;
	margin: 0 auto 20px;
}

.gallery-columns-1 .gallery-item,
.gallery-columns-2 .gallery-item,
.gallery-columns-3 .gallery-item {
	text-align: center;
}

.gallery-columns-4 .gallery-item {
	max-width: 23%;
	max-width: -webkit-calc(25% - 4px);
	max-width:         calc(25% - 4px);
}

.gallery-columns-5 .gallery-item {
	max-width: 19%;
	max-width: -webkit-calc(20% - 4px);
	max-width:         calc(20% - 4px);
}

.gallery-columns-6 .gallery-item {
	max-width: 15%;
	max-width: -webkit-calc(16.7% - 4px);
	max-width:         calc(16.7% - 4px);
}

.gallery-columns-7 .gallery-item {
	max-width: 13%;
	max-width: -webkit-calc(14.28% - 4px);
	max-width:         calc(14.28% - 4px);
}

.gallery-columns-8 .gallery-item {
	max-width: 11%;
	max-width: -webkit-calc(12.5% - 4px);
	max-width:         calc(12.5% - 4px);
}

.gallery-columns-9 .gallery-item {
	max-width: 9%;
	max-width: -webkit-calc(11.1% - 4px);
	max-width:         calc(11.1% - 4px);
}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
	margin-right: 0;
}

.gallery-caption {
	background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
	font-size: 14px;
	line-height: 1.3;
	margin: 0;
	max-height: 50%;
	opacity: 0;
	padding: 2px 8px;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: left;
	-webkit-transition: opacity 400ms ease;
	transition:         opacity 400ms ease;
	width: 100%;
}

.gallery-caption:before {
	box-shadow: 0 -10px 15px #000 inset;
	content: "";
	height: 100%;
	min-height: 49px;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

.gallery-item:hover .gallery-caption {
	opacity: 1;
}

.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}
